// =============
// Application
// =============
.app {
  min-height: 100vh;

  .body-wrapper {
    min-height: 100vh;
  }

  .menubar {
    background: url($hero-pattern-topography) $indigo-vivid-700;

    a {
      font-size: 36px;
      color: $indigo-vivid-000;
    }
  }

  main {
    position:relative;
  }

  .empty-state {
    img {
      width: 80%;
      @include media-breakpoint-up(lg) {
        width: 60%;
      }
    }

    p {
      font-size: 24px;
      width: 60%;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
      @include media-breakpoint-up(lg) {
        width: 40%;
      }
      @include media-breakpoint-up(xl) {
        width: 25%;
      }
    }
  }

  .contact-list {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 30%;
    }

    .add-contact-btn {
      font-size: 36px;
      color: $indigo-vivid-400;
    }
  }

  .contact-details {
    display: none;
    min-height: 100%;
    position: absolute;
    width: 100%;
    @include media-breakpoint-up(lg) {
      position: relative;
      width: 70%;
    }
  }
}